.form_label {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 15px;
	gap: 5px;
	width: 100%;
}

.form_input {
	padding: 10px;
	border-radius: 6px;
	background: #f4f6ff;
	border: 1px solid #c6c6c6;
}
